@model Suzane.WebApp.Models.StartPageViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Start Page</title>
</head>
<body>
    <h1>Welcome to the Start Page</h1>
    <p>@Model.Body</p>
</body>
</html>
