@model Suzane.WebApp.Models.SearchPageViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
</head>
<body>
    <h1>Search Page</h1>
    <p>Søkeparameter: @Model.Query</p>
    <h2>Results:</h2>
    <ul>
        @if (Model.Results != null && Model.Results.Length > 0)
        {
            foreach (var result in Model.Results)
            {
                <li>@result</li>
            }
        }
        else
        {
            <li>No results found.</li>
        }
    </ul>
</body>
</html>
